header {
  width: auto;
  height: 80px;
  top: 0;
  background-color: rgba(26, 53, 26, 0.5);
  margin: 0;
  display: flex;
  z-index: 100;
  backdrop-filter: blur(8px);
  justify-content: space-around;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid rgba(36, 77, 36, 0.6);
}

ul {
  display: flex;
  gap: 30px;
}

li {
  list-style: none;
  transition: 0.3s;
}

li:hover {
  scale: 1.1;
}

a {
  color: rgb(224, 255, 224);
  text-decoration: none;
}

aside {
  display: none;
}
