#whatIveDone {
  margin: 30px;
}

#whatIveDone p {
  font-size: 1.1rem;
}

.portfolio img {
  width: 50vw;
  max-width: 600px;
  border: 2px solid rgb(75, 255, 255);
  box-shadow: 0 0 15px rgb(0, 156, 156);
  border-radius: 20px;
  margin: 50px 0;
  transition: 0.3s;
}

.portfolio img:hover {
  scale: 1.04;
}
